/* 
    Document   : rightCol
    Created on : 05/03/2013, 15:36:26
    Author     : jose
    Description:
        Purpose of the stylesheet follows.
*/

aside{
  /*  float:right;
    width: 25%;
    padding: 1% 0%;
    padding-left: 1%;*/
    
}
#content{
    /*width: 73%;*/
}
